<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title><%=title%></title>
    <link rel="stylesheet" type="text/css" href="/css/es.css" />
    <link rel="shortcut icon" href="/css/favicon.ico" />
</head>

<body>
    
    <br><div><%=heading%></div><br>
    
    <table class="dialog">
        <% for (let i = 0; i < list_pdf.length; i++) {%>
        <tr>
            <td class="item">
                <a href="/file/pdf/<%=i%>"><%=list_pdf[i].file_name%></a>
            </td>
        </tr>
        <%} %>
    </table>

    <br>

    <table class="dialog">
        <% for (let i = 0; i < list_files.length; i++) {%>
        <tr>
            <td class="item">
                <a href="/file/docs/<%=i%>"><%=list_files[i].file_name%></a>
            </td>
        </tr>
        <%} %>
    </table>

</body>
</html>
