<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title><%=title%></title>
    <link rel="stylesheet" type="text/css" href="/static/es.css" />
    <link rel="shortcut icon" href="/static/favicon.ico" />    
</head>

<body>
    
    <br><div><%=heading%></div>
    <br><div class="hint"><%=hint%></div>
    
    <table class="dialog">
        <tr>
            <td class="quest">
                <a href="/start"><%=quest%></a>
            </td>
        </tr>
        <% for (let answer of answers) {%>
        <tr>
            <td class="answer">
                <a href="/quest/<%=answer%>"><%=answer%></a>
            </td>
        </tr>
        <%} %>
        </div>
    </table>

    <script src="/static/code.js"></script> <!--вспомогательные функции-->

</body>
</html>
